#LSlot1 {
	background-color: #e47911;
}
#LSlot2 {
	background-color: #8baddc;
}
#LSlot3 {
	background-color: #86c06a;
}
#LSlot4 {
	background-color: #fff15f;
}
#LSlot5 {
	background-color: #f7b284;
}
#LSlot6 {
	background-color: #ec6446;
}
#LSlot7 {
	background-color: #af60a2;
}
#LSlot8 {
	background-color: #5972b6;
}